body {
	background-color: #cdcdcd;
	font-family: 'Lato', sans-serif;
    font-weight: 400;
}

img {
	width: 400;
	height=492;
}

p {
	color: blue;
}

em {
	color: green;
}

strong {
	color: red;
}

h1 {
	color: brown
}