<style>
	table {
		background-color: green;
	}
	
	tr th {
		background-color: #196e26;
		color: #45ff8f;
	}
	
	tr:nth-child(even) {
		background-color: #45ff8f;
	}
	
	tr:nth-child(odd) {
		background-color: #33bd6a;
	}
	
	th {
		text-align: center;
	}
</style>
<table>
	<tr>
		<th>NOMBRE</th>
		<th>CALLE</th>
		<th>POBLACIÓN</th>
		<th>PROVINCIA</th>
	</tr>
	<tr>
		<td>DEPORTES 1</td>
		<td>C/ Avenida 8</td>
		<td>Don Benito</td>
		<td>Badajoz</td>
	</tr>
	<tr>
		<td>DEPORTES 2</td>
		<td>C/ Fernando</td>
		<td>Madrid</td>
		<td>Madrid</td>
	</tr>
	<tr>
		<td>DEPORTES 1</td>
		<td>C/ Deportiva 31</td>
		<td>Silla</td>
		<td>Valencia</td>
	</tr>
</table>