<style>
	table {
		background-color: green;
	}
	
	tr th {
		background-color: #196e26;
		color: #45ff8f;
	}
	
	tr {
		background-color: #45ff8f;
	}
	
	tr:nth-child(4) {
		background-color: #33bd6a;
	}
	
	th, tr td:nth-child(2) {
		text-align: center;
	}
</style>

<table>
	<tr>
		<th>ACTIVIDAD</th>
		<th>TARIFA/HORA</th>
	</tr>
	<tr>
		<td>AEROBIC</td>
		<td rowspan="2">3 €</td>
	</tr>
	<tr>
		<td>STEP</td>
	</tr>
	<tr>
		<td>MUSCULACIÓN</td>
		<td>4 €</td>
	</tr>
</table>