body {
    background-color: #4db6ac !important;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-family: RobotoDraft,Roboto,'Helvetica Neue',sans-serif;
}

#calculadora {
    min-width: 128px;
}

#numeros .row {
    height: 60px;
}

#operaciones .row {
    height: 40px;
}

#operaciones .row div {
    background-color: #4db6ac !important;
}

#numeros .row div {
    background-color: #8d6e63 !important;
}

#numeros, #operaciones {
    color: #fafafa;
}

#numeros .row div,
#operaciones .row div {
    justify-content: center!important;
    align-items: center!important;
    display: flex!important;
}

#output, #input {
    background-color: #fafafa;
}

#numeros div div:hover {
    background-color: #804733 !important;
}

#operaciones div div:hover {
    background-color: #5C807C !important;
}

#numeros div div:active {
    background-color: #CC9F8F !important;
}

#operaciones div div:active {
    background-color: #56CCC0 !important;
}

#input, #output {
    color: #8d6e63;
}

#input p {
    margin: 5px 0 0 0;
    font-size: 30px;
}

#output p {
    margin: 0 0 5px 0;
    font-size: 18px;
}