<style>
	table {
		width: 100%;
		font-weight: bold;
	}
	
	td, th {
		border: 1px solid black;
		text-align: center;
	}
</style>
<table>
	<caption>TITULO DE TABLA</caption>
	<tr>
		<td colspan="3" style="background-color:#98ff7c;">CELDA 1</td>
	</tr>
	<tr>
		<td rowspan="2" style="background-color:#7ce0ff;text-align:left;">CELDA 2</td>
		<td style="color:red;">CELDA 3</td>
		<td>CELDA 4</td>
	</tr>
	<tr>
		<td style="color:red;">CELDA 5</td>
		<td rowspan="2" style="background-color:#fb80ff;text-align:right;">CELDA 6</td>
	</tr>
	<tr>
		<td>CELDA 7</td>
		<td style="color:red;">CELDA 8</td>
	</tr>
</table>