body {
	margin: 0;
	background-color: #fce1b8;
}

#informacion span {
	color: #4c64b8;
	font-style: italic;
}

#pasos span {
	color: #4c64b8;
	font-weight: bold;
}

h1 {
	color: #4c64b8;
	font-style: italic;
}

.header {
	background-color: #ffb048;
}

.header h2 {
	margin: 0;
	padding: .2em;
}

.content {
	margin: 0;
	padding: .4em;
}

.tabbed {
	margin-left: 1em;
}