body {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#calculadora {
	width: 300px;
	background-color: #f2f2f2;
	border: 1px solid black;
	padding: 10px
}

#calculadora .space {
	padding: 5px;
}

#calculadora button {
	width: 100%;
	height: 40px;
}

div {
	box-sizing: border-box;
	display: block;
	float: left;
	padding: 2px;
}

#calculadora .row {
	width: 100%;
}

#calculadora .space-20 {	
	width: 20%;
}

#calculadora .space-100 {
	width: 100%;
}

#calculadora .space-33 {
	width: 33.33%;
}

#calculadora input {
	width: 99%;
	height: 40px;
	text-align: right;
	font-size: 35px;
}

.red button {
	color: red;
}