Diarios de:
<dl>
	<ol type="1">
	<li><dt>ESPAÑA</dt></li>
	<dd>
		<ol type="a">
			<li>El Mundo</li>
			<li>País</li>
			<li>La Vanguardia</li>
		</ol>  
	</dd>
	<li><dt>EE.UU.</dt></li>
	<dd>
		<ol type="I">
			<li>New York Times</li>
			<li>The Washington Post</li>
		</ol>  
	</dd>
	</ol>
</dl>