body {
	background-color: pink;
}

table {
	text-align: center;
	width: 90%;
}

td {
	border: 1px solid black;
}

img {
	max-height: 150px;
	width: 200px;
}

caption {
	font-size: 32;
}