<style>
	table {
		text-align: center;
		background-image: url("img/dog-bg.png");
		background-size: 60px;
		width: 60%;
		color: #bd400e;
	}
	
	th, td {
		border: 1px solid black;
	}
	
	th {
		background-color: #70a848;
	}
	
	.color-1 {
		background-color: #f7b177;
	}
	
	.color-2 {
		background-color: #faee7e;
	}
	
</style>

<table align="center">
	<tr>
		<th colspan="4">DIFERENCIAS ENTRE EL PERRO Y EL HOMBRE</th>
	</tr>
	<tr class="color-1">
		<td rowspan="2">DIFERENCIAS</td>
		<td colspan="2">PERRO</td>
		<td rowspan="2">HOMBRE</td>
	</tr>
	<tr>
		<td class="color-2">PEQUEÑO</td>
		<td class="color-2">PEQUEÑO</td>
	</tr>
	<tr>
		<td>Duración de crecimiento</td>
		<td>10 meses</td>
		<td>18 a 24 meses</td>
		<td>16 años</td>
	</tr>
	<tr>
		<td>Tiempo de gestación</td>
		<td colspan="2">58 a 63 días</td>
		<td>9 meses</td>
	</tr>
	<tr>
		<td>Duración de la vida del pelo/cabello</td>
		<td colspan="2">1 año</td>
		<td>2 a 7 años</td>
	</tr>
</table>