body {
	    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
		font-size: 14px;
}

h1 {
	color: #5F8F11;
	text-align: center;
}

h1 span, h3 {
	color: #BF823B;
}

.content {
	border: 1px solid #CFDFB5;
	padding: .5em;
}

.content h2 {
	color: #70AF0A;
	border-bottom: 1px solid #CFDFB5;
}