body {
	background-image: url("../img/penguins.jpg");
	height: 100%;
	background-repeat: no-repeat, repeat;
	background-position: top center;
	display: block;
}

div {
	display: block;
	width: 60%;
	margin: 20% auto;
}

table {
	text-align: center;
	width: 100%;
}

td {
	background-color: #fff98a;
	border: 1px solid black;
}

th {
	background-color: white;
	border: 1px solid black;
}