.card-body {
    background: lightgray;
}

.card-header {
    color: #dddddd;
}

#social-login {
    padding-top: 20px;
    color: #f2f2f2;
}

#social-login button {
    margin: 0 3px;
}

body {
    background-image: url("../imgs/dark-bg.png");
    color: white;
}

#description {
    color: #f2f2f2;
}

#lock {
    font-size: 40px;
    color: darkgrey;
}